* {
  --bright-background: #ffffff;
  --dull-background: #fbfcfe;
  --color-1: #e7feea; /*green*/
  --color-2: #fbeef7; /*pink*/
  --color-3: #fdf7e9; /*yellow*/
  --color-4: #d8d4f5; /* purplish */
  --todoist-red: #dc4c3e;
}

body {
  font-family: sans-serif;
  padding: 2rem;
  background-color: var(--color-4);
  display: flex;
  align-items: center;
}

li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin: auto;
  height: 90vh;
  width: 70vw;
  border-radius: 10px;
  background-color: var(--dull-background);
  display: grid;
  grid-template-columns: 0.6fr 2fr;
  grid-template-rows: 100%;
}

.sidebar {
  grid-column: 1;
  grid-row: 1;
  height: auto;
  width: auto;
  border-radius: 10px;
  background-color: var(--bright-background);
  box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 15px;
  display: flex;
  flex-direction: column;
  padding: 8px 30px;
}

.sidebar > .logo {
  font-size: 40px;
  font-family: system-ui;
}

.nav-container {
  margin-top: 30px;
  width: 100%;
}

.sidebar > .nav-container > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  /* border: 1px solid black; */
  padding: 0;
}

.sidebar-btn {
  display: flex;
  width: 100%;
  font-size: 20px;
  gap: 10px;
  background-color: transparent;
  border: none;
}

.projects-container {
  margin-top: 80px;
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headingWrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.headingWrapper > #newProjectBtn {
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#project-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-btn {
  display: flex;
  width: 100%;
  border: none;
  background-color: transparent;
}

.main {
  margin: 0;
  padding: 10px 30px;
  position: relative;
}

.material-icons ~ span {
  font-size: 20px;
}

dialog {
  width: 360px;
  border: none;
  border-radius: 10px;
  padding: 30px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-container > h2 {
  padding: 0;
  margin-top: -15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.btn-wrapper > button {
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 1rem;
}

#submitBtn {
  background-color: var(--todoist-red);
  color: #ffffff;
}

label {
  font-size: 20px;
}

input[type="text"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.08);
}

#new-todo input,
select {
  font-size: 25px;
  box-sizing: border-box;
  background-color: pink;
}

#new-todo textarea {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  resize: vertical;
  font-family: inherit;
  background-color: pink;
}

p {
  margin: 0;
  padding: 0;
}

.todo-list {
  list-style: none;
  background-color: pink;
}

li > .left-section {
  display: flex;
  border: 3px solid red;
  gap: 0.5rem;
  align-items: center;
}

.todo-list input[type="checkbox"] {
  margin: 0;
  padding: 0;
  flex: 0 0 auto;
  width: auto;
}

.left-section label {
  margin: 0;
  padding: 0;
  flex: 1;
  cursor: pointer;
  font-size: 16px;
}

.new-task-btn {
  height: 60px;
  width: 60px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 100%;
  padding: 0;
  margin: 0;
  background-color: red;
  color: white;
}


.cards-container {
  display:flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 40px;
}

.inbox-card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 150px;
  border-radius: 20px;
  padding: 8px 20px;
}

#total-todos {
  background-color: var(--color-1);
}

#total-projects {
  background-color: var(--color-2);
}